@font-face {
  font-family: "sf-black-italic";
  src: url("/static/fonts/SFPRODISPLAYBLACKITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-bold";
  src: url("/static/fonts/SFPRODISPLAYBOLD.woff2") format("woff2");
}
@font-face {
  font-family: "sf-heavy-italic";
  src: url("/static/fonts/SFPRODISPLAYHEAVYITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-light-italic";
  src: url("/static/fonts/SFPRODISPLAYLIGHTITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-medium";
  src: url("/static/fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
}
@font-face {
  font-family: "sf-regular";
  src: url("/static/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
}
@font-face {
  font-family: "sf-mi-bold-italic";
  src: url("/static/fonts/SFPRODISPLAYSEMIBOLDITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-thin-italic";
  src: url("/static/fonts/SFPRODISPLAYTHINITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-ultra-light-italic";
  src: url("/static/fonts/SFPRODISPLAYULTRALIGHTITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "gumbo";
  src: url("/static/fonts/Gumbo.woff2") format("woff2");
}

html {
  /*Colorpalette*******************/
  /*Base*/
  --bg-color: oklch(13% 0.028 261.692);
  --bg-card: oklch(21% 0.034 264.665);
  --primary-color-50: #edf1ff;
  --primary-color-100: #dee7ff;
  --primary-color-200: #c3d2ff;
  --primary-color-300: #9fb2ff;
  --primary-color-400: #7988ff;
  --primary-color-500: #5960fb;
  --primary-color-600: #403bf0;
  --primary-color-700: #362ed4;
  --primary-color-800: #2d28ab;
  --primary-color-900: #2a298a;
  --primary-color-950: #1a184e;
  --text-color: var(--primary-color-50);
  /*Interaction colors*/
  --error-color: #d71900;
  --warning-color: #e8778c;
  --success-color: #68c93b;
  --alert-color: #ffd60a;
  --info-color: #353efe;

  /*******************Colorpalette*/

  /*Spacing*************************/
  --xx-small-spacing: 0.25rem;
  --x-small-spacing: 0.5rem;
  --small-spacing: 0.75rem;
  --base-spacing: 1rem;
  --medium-small-spacing: 1.25rem;
  --medium-spacing: 1.5rem;
  --medium-large-spacing: 1.75rem;
  --large-spacing: 2rem;
  --x-large-spacing: 2.25rem;
  --xx-large-spacing: 2.5rem;
  --xx-large-spacing: 2.75rem;
  --white-space: 16rem;
  /*************************Spacing*/

  /*Typography**********************/

  /**********************Typography*/
}

* {
  padding: 0;
  margin: 0;
}

header {
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      background-color: var(--primary-color-950);
      padding-block: 2rem;
      padding-inline: 2rem;
    }
    li {
      list-style: none;
      padding-inline-start: 2rem;

      a {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
          color: #7988ff;
        }
      }
    }
  }
}

body {
  background-color: var(--bg-color);
  font-family: "sf-regular";

  h1,
  h2,
  h3,
  p {
    color: var(--text-color);
  }
  & > *:not(header):not(footer) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: var(--white-space);
    padding-block: var(--xx-large-spacing);
  }
}



form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--primary-color-50);
  background: var(--bg-card);
  border: var(--primary-color-950) solid 1px;

  .form-group {
    display: flex;
    flex-direction: column;
    padding-block-end: 2rem;
  }

  label {
    font-family: 'sf-medium';
    padding-block-end: var(--xx-small-spacing);
  }

  input, textarea {
    color: var(--primary-color-50);
    background: oklch(37.3% 0.034 259.733);
    border: var(--primary-color-200) solid 1px;
    padding: var(--small-spacing);
    border-radius: 8px;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  padding: 0;
  font-family: "sf-bold";
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--primary-color-900);
    border: var(--primary-color-50) solid 1px;
    border-radius: inherit;
    z-index: -2;
    transform: translateY(20%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-600);
    display: flex;
    color: var(--primary-color-50);
    transition: transform 0.3s ease;
    padding: var(--small-spacing) var(--medium-small-spacing);
    border-radius: 100px;
    border: var(--primary-color-50) solid 1px;
  }

  &:hover span {
    transform: translateY(-10%);
  }
}



footer {
  background-color: var(--primary-color-500);
  padding: var(--medium-large-spacing);
}
