html {
  /*Colorpalette*******************/
  /*Base*/
  --bg-color: #191919;
  --primary-color-50: #edf1ff;
  --primary-color-100: #dee7ff;
  --primary-color-200: #c3d2ff;
  --primary-color-300: #9fb2ff;
  --primary-color-400: #7988ff;
  --primary-color-500: #5960fb;
  --primary-color-600: #403bf0;
  --primary-color-700: #362ed4;
  --primary-color-800: #2d28ab;
  --primary-color-900: #2a298a;
  --primary-color-950: #1a184e;
  --text-color: var(--primary-color-50);
  /*Interaction colors*/
  --error-color: #d71900;
  --warning-color: #ff4266;
  --success-color: #68c93b;
  --alert-color: #ffd60a;
  --info-color: #353efe;
  
  /*******************Colorpalette*/
  

  /*Spacing*************************/
  --xx-small-spacing: 0.25rem;
  --x-small-spacing: 0.5rem;
  --small-spacing: 0.75rem;
  --base-spacing: 1rem;
  --medium-small-spacing: 1.25rem;
  --medium-spacing: 1.5rem;
  --medium-large-spacing: 1.75rem;
  --large-spacing: 2rem;
  --x-large-spacing: 2.25rem;
  --xx-large-spacing: 2.5rem;
  --xx-large-spacing: 2.75rem;
  /*************************Spacing*/

  /*Typography**********************/

  /**********************Typography*/
}

* {
  padding: 0;
  margin: 0;
}

header {
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      background-color: var(--primary-color-950);
      padding-block: 2rem;
      padding-inline: 2rem;
    }
    li {
      list-style: none;
      padding-inline-start: 2rem;

      a {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
          color: #7988ff;
        }
      }
    }
  }
}

body {
  background-color: var(--bg-color);

  h1,
  h2,
  h3,
  p {
    color: var(--text-color);
  }
  font-family: "Courier New", Courier, monospace;

}

#signup {
  display: flex;
  flex-direction: column;
  height: 60dvh;
  background-color: #2a298a;
  padding-inline: var(--base-spacing);
  padding-block: var(--base-spacing);
  margin-inline: var(--base-spacing);
  color: var(--text-color);
  font-size: 1.25rem;
  border-radius: 4px;

  label {
    display: inline-flex;
    flex-direction: column;
    font-size: 1rem;

    input {
      font-size: 1.25rem;
      margin-block-end: 1rem;
      padding-block: 0.5rem;
      border-radius: 4px;
      border: none;
    }
  }

  button {
    font-size: 1.25rem;
    background-color: #7988ff;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;

    &:hover {
      background-color: #5960fb;
    }
  }
}

#create_post {
  background-color: var(--primary-color-300);
  padding: 2rem 2rem;
  margin: 0.5rem 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .form-group {
    display: flex;
    flex-direction: column;
    padding-block-end: 2rem;
  }
}


footer {
  background-color: var(--primary-color-500);
  padding: var(--medium-large-spacing);
}