@font-face {
  font-family: "sf-black-italic";
  src: url("/static/fonts/SFPRODISPLAYBLACKITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-bold";
  src: url("/static/fonts/SFPRODISPLAYBOLD.woff2") format("woff2");
}
@font-face {
  font-family: "sf-heavy-italic";
  src: url("/static/fonts/SFPRODISPLAYHEAVYITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-light-italic";
  src: url("/static/fonts/SFPRODISPLAYLIGHTITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-medium";
  src: url("/static/fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
}
@font-face {
  font-family: "sf-regular";
  src: url("/static/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
}
@font-face {
  font-family: "sf-mi-bold-italic";
  src: url("/static/fonts/SFPRODISPLAYSEMIBOLDITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-thin-italic";
  src: url("/static/fonts/SFPRODISPLAYTHINITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "sf-ultra-light-italic";
  src: url("/static/fonts/SFPRODISPLAYULTRALIGHTITALIC.woff2") format("woff2");
}
@font-face {
  font-family: "gumbo";
  src: url("/static/fonts/Gumbo.woff2") format("woff2");
}

html {
  /*Colorpalette*******************/
  /*Base*/
  --bg-color: oklch(13% 0.028 261.692);
  --bg-card: oklch(21% 0.034 264.665);
  --primary-color-50: #edf1ff;
  --primary-color-100: #dee7ff;
  --primary-color-200: #c3d2ff;
  --primary-color-300: #9fb2ff;
  --primary-color-400: #7988ff;
  --primary-color-500: #5960fb;
  --primary-color-600: #403bf0;
  --primary-color-700: #362ed4;
  --primary-color-800: #2d28ab;
  --primary-color-900: #2a298a;
  --primary-color-950: #1a184e;
  --text-color: var(--primary-color-50);
  /*Interaction colors*/
  --error-color: #bd4737;
  --warning-color: #e8778c;
  --success-color: #68c93b;
  --alert-color: #ffd60a;
  --info-color: #353efe;

  /*******************Colorpalette*/

  /*Spacing*************************/
  --xx-small-spacing: 0.25rem;
  --x-small-spacing: 0.5rem;
  --small-spacing: 0.75rem;
  --base-spacing: 1rem;
  --medium-small-spacing: 1.25rem;
  --medium-spacing: 1.5rem;
  --medium-large-spacing: 1.75rem;
  --large-spacing: 2rem;
  --x-large-spacing: 2.25rem;
  --xx-large-spacing: 2.5rem;
  --xx-large-spacing: 2.75rem;
  --white-space: 16rem;
  /*************************Spacing*/

  /*Typography**********************/

  /**********************Typography*/
}

* {
  padding: 0;
  margin: 0;
}

header {
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      background-color: var(--primary-color-950);
      padding-block: 2rem;
      padding-inline: 2rem;
    }
    li {
      list-style: none;
      padding-inline-start: 2rem;

      a {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
          color: #7988ff;
        }
      }
    }
  }
}

body {
  background-color: var(--bg-color);
  font-family: "sf-regular";

  h1,
  h2,
  h3,
  p {
    color: var(--text-color);
  }

}



form {
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: var(--primary-color-50);
  background: var(--bg-card);
  border: var(--primary-color-950) solid 1px;
  padding: var(--medium-large-spacing);
  margin: var(--large-spacing);

  legend {
    font-size: 1.5rem;
    margin-block-end: var(--medium-large-spacing);
  }

  .field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
  }

  .field input {
    padding: 14px 12px;
    border: 2px solid gray; /* Grey for default */
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: .2s;
    background: var(--bg-card);
    color: var(--primary-color-50);
  }

  .field label {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 1rem;
    color: var(--primary-color-200);
    background: var(--bg-card);
    padding: 0 6px;
    pointer-events: none;
    transition: .2s;
  }

  .field.active input {
    border-color: #353efe;
  }
  
  .field.active label {
    border-color: #353efe;
    color: #353efe;
  }

  #signup-error {
    color: var(--error-color);
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .post-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block-end: 2rem;

    label {
      font-size: 2rem;
    }

    input {
      color: var(--primary-color-50);
      border: none;
      border-bottom: var(--primary-color-400) 1px solid;
      background: var(--bg-card);
      padding: 8px 12px;
    }
  }

}




footer {
  background-color: var(--primary-color-500);
  padding: var(--medium-large-spacing);
}
