<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <script src="/static/dist/app.js" defer></script>
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        {% if g.user %}
        <ul>
          <li>
            <a href="/">
              <img
                class="logo"
                alt="boy with head full of spaghetti and meatballs"
                src="/static/imgs/foodhead-logo.png"
              />
            </a>
          </li>
          <li>
            <a class="primary-btn" href="/create"
              >Create Recipe
              <img
                class="create-icon"
                alt="cookbook with plus icon"
                src="/static/icons/create-icon.svg"
            /></a>
          </li>
          <li class="nav-auth-group">
            <span>{{ g.user['user_username']}}</span>
            <a class="logout-btn" href="logout">
              Logout
              <img alt="login-icon" src="/static/icons/logout_icon.svg" />
            </a>
          </li>
        </ul>
        {% else %}
        <ul>
          <li>
            <a href="/">
              <img
                class="logo"
                alt="boy with head full of spaghetti and meatballs"
                src="/static/imgs/foodhead-logo.png"
              />
            </a>
          </li>
          <li class="nav-auth-group">
            <a class="primary-btn" href="login">
              Login <img alt="login-icon" src="/static/icons/login_icon.svg" />
            </a>
            <a class="secondary-btn" href="signup">Sign up</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
      <a href="/">
        <img
          class="logo"
          alt="boy with head full of spaghetti and meatballs"
          src="/static/imgs/spicy-foodhead.png"
        />
      </a>
      <p>Made by <strong>Katja M.</strong></p>
      <p>Web Development · 1st Semester · Erhvervsakademi København 2026</p>
    </footer>
    <script src="/static/mixhtml.js"></script>
  </body>
</html>
