{% extends 'base.html' %} {% block content %}
<article>
  <h1 id="tip" class="tip">{{ tip }}</h1>
  <form
    mix-post="/api-create-recipe"
    enctype="multipart/form-data"
    id="create_post"
    class="create-recipe"
  >
    <legend>Create a new recipe</legend>
    <div class="field-group">
      <!-- Main info -->
      <div class="field">
        <label for="recipe_title">Title</label>
        <input name="recipe_title" id="recipe_title" type="text" />
      </div>
      <div class="field">
        <label for="recipe_prep_time">Prep Time</label>
        <input name="recipe_prep_time" id="recipe_prep_time" type="number" />
      </div>
      <div class="field">
        <label for="recipe_cook_time">Cook Time</label>
        <input name="recipe_cook_time" id="recipe_cook_time" type="number" />
      </div>
      <div class="field">
        <label for="recipe_servings">Servings</label>
        <input name="recipe_servings" id="recipe_servings" type="number" />
      </div>
    </div>

    <!-- Upload Image -->
    <!-- Photo Upload Field -->
    <div class="field upload-file">
      <label for="recipe_img" style="display: none">Photo</label>

      <div
        id="drop-zone"
        onclick="document.getElementById('recipe_img').click()"
        ondragover="handleDragOver(event)"
        ondragleave="handleDragLeave(event)"
        ondrop="handleDrop(event)"
      >
        <div class="upload-icon">
          <img alt="upload-icon-img" src="/static/imgs/upload-img.png" />
        </div>

        <div id="upload-text">
          <p>Drop your photo here</p>
          <p>or click to browse · PNG, JPG, WebP</p>
        </div>
      </div>

      <input
        id="recipe_img"
        class="upload-img"
        name="recipe_file"
        type="file"
        accept="image/png, image/jpeg, image/webp"
        style="display: none"
        onchange="handleFile(this.files[0])"
      />
    </div>

    <!-- Description -->
    <div class="field-group">
      <label for="recipe_description">Description</label>
      <textarea
        name="recipe_description"
        id="recipe_description"
        rows="4"
      ></textarea>
    </div>

    <!-- Ingredients -->
    <div class="field-group">
      <h2>Ingredients</h2>
      <ul id="ingredients-container"></ul>
      <button class="add-btn" type="button" onclick="addIngredient()">
        <img alt="plus-sign" src="/static/icons/add_icon.svg" />
      </button>
    </div>

    <!-- Instructions -->
    <div class="field-group">
      <h2>Instructions</h2>
      <ol id="instructions-container"></ol>
      <button class="add-btn" type="button" class="btn-add" onclick="addStep()">
        <img alt="plus-sign" src="/static/icons/add_icon.svg" />
      </button>
    </div>





    <button class="primary-btn">Share Recipe</button>
  </form>
</article>
{% endblock content %}
