{% extends 'base.html' %} {% block content %}
<article>
  <h1>Create your destination</h1>
  <form
    method="post"
    action="/create_post"
    enctype="multipart/form-data"
    id="create_post"
  >
    <div class="form-group">
      <label for="title_destination">Title</label>
      <input id="title_destination" type="text" />
    </div>

    <div class="form-group">
      <label for="country_destination">Country</label>
      <input id="country_destination" type="text" />
    </div>

    <div class="form-group">
      <label for="description_destination">Description</label>
      <textarea id="description_destination" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label for="img">Add your image</label>
      <input name="img" id="img" type="file" accept="image/png, image/jpeg" />
    </div>

    <div class="form-group">
      <label for="category_destination">Category</label>
      <select id="category_destination">
        <option value="">Choose an option</option>
        <option value="Beach">Beach</option>
        <option value="City">City</option>
        <option value="Culture">Culture</option>
        <option value="Adventure">Adventure</option>
        <option value="Nature">Nature</option>
        <option value="Historical">Historical</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cost_destination">Estimated Cost</label>
      <input id="cost_destination" type="text" />
    </div>

    <div class="form-group">
      <label for="best_time_destination">Best time to visit</label>
      <input id="best_time_destination" type="date" />
    </div>
    <button type="submit"><span>Share</span></button>
  </form>
</article>
{% endblock content %}
