{% extends 'base.html' %}
{% block header %} <h1>{% block title%} Log in {% endblock title %}</h1> {% endblock header %}

{% block content %}
<form action="/login" method="post" id="signup">
  {% if error %}
  <span>{{error}}</span>
  {% endif %}
  <label for="email">
    Email
    <input type="email" name="email" id="email" required />
  </label>
  <label for="password">
    Password
    <input type="password" name="password" id="password" required />
  </label>
  <button type="submit">Login</button>
</form>
{% endblock content %}
