{% extends 'base.html' %} {% block header %}
<h1>{% block title%} Log in {% endblock title %}</h1>
{% endblock header %} {% block content %}
<form mix-post="/api-login" id="login" class="signup">
  {% if error %}
  <span>{{error}}</span>
  {% endif %}

  <div class="field">
    <label for="email"> Email </label>
    <input type="email" name="user_email" id="user_email" required />
  </div>
  <div class="field">
    <label for="password"> Password </label>
    <input type="password" name="user_password" id="user_password" required />
  </div>
  <button type="submit" class="primary-btn">Login</button>
  <span id="tip" class="error-msg" aria-live="polite">{{ msg }}</span>
</form>
{% endblock content %}
