{% extends 'base.html' %} {% block header %}
<h1>{% block title%} Sign Up {% endblock title %}</h1>
{% endblock header %} {% block content%}
<form mix-post="/api-create-user" id="signup">
  <legend>Sign up here & become a foodhead</legend>

  <div class="field">
    <label for="user_username" placeholder=" ">Username</label>
    <input
      type="text"
      name="user_username"
      id="user_username"
      aria-describedby="signup-error"
      mix-validate="{{ config.REGEX_USER_NAME }}"
      mix-post="/api-check-username"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>
  <div class="field">
    <label for="user_first_name" placeholder=" ">First name</label>
    <input
      type="text"
      name="user_first_name"
      id="user_first_name"
      aria-describedby="signup-error"
      mix-validate="{{ config.REGEX_USER_NAME }}"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>
  <div class="field">
    <label for="user_last_name" placeholder=" ">Last name</label>
    <input
      type="text"
      name="user_last_name"
      id="user_last_name"
      aria-describedby="signup-error"
      mix-validate="{{ config.REGEX_USER_NAME }}"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>

  <div class="field">
    <label for="country" placeholder=" ">Country</label>
    <input
      type="text"
      name="country"
      id="country"
      aria-describedby="signup-error"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>

  <div class="field">
    <label for="user_email" placeholder=" ">Email</label>
    <input
      type="email"
      name="user_email"
      id="user_email"
      aria-describedby="signup-error"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>

  <div class="field">
    <label for="user_tel" placeholer=" ">Phonenumber</label>
    <input
      type="tel"
      name="user_tel"
      id="user_tel"
      aria-describedby="signup-error"
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <input
      type="password"
      name="user_password"
      id="user_password"
      aria-describedby="signup-error"
      required
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>

  <div class="field">
    <label for="password">Confirm Password</label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      aria-describedby="signup-error"
      required
    />
    <span id="signup-error" class="error-msg" aria-live="polite"
      >Error Message</span
    >
  </div>
  <button>Sign up</button>
  <div id="tooltip"></div>
</form>
{% endblock content%}
